<div class="title">
  <a href="<%= post.link %>" target="_blank"><%= post.title %></a>
</div>
<div class="tagline" title="<%= post.created_at %>">
  submitted <%= time_ago_in_words post.created_at %> ago
  to <%= link_to post.category.name, category_path(post.category) %>
  <% if post.user.present? %>
  by <%= link_to post.user.username %>
  <!-- <% else post.update(user_id: 1) end %>  -->
</div>
